.wrapper {
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--while);
    border: 1px solid transparent;

    + .wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}
// icon btn
.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    width: 24px;
    display: inline-flex;
    align-items: center;
}

// button types
.rounded {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--while);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: var(--background-hover-btn);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//button sizes
.small {
    min-width: 88px;
    padding: 4px 12px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
